Django>=3.0
psycopg2>=2.8,<3.0
python-dotenv==0.21.1
dj-database-url
Pillow
django-crispy-forms
whitenoise==6.4.0
gunicorn==20.1.0
django-storages
crispy-bootstrap4
djangorestframework
django-cors-headers
pandas>=2.0.0
openpyxl>=3.0.10
reportlab>=3.6.12
drf-spectacular
drf-spectacular-sidecar
django-cors-headers
requests